<div class="row">
  <div class="col-md-12">
    <h1>Scrum Academy ({{sprintNow.startDate.getDate()}}/{{sprintNow.startDate.getMonth()+1}}/{{sprintNow.startDate.getFullYear()}})->({{sprintNow.endDate.getDate()}}/{{sprintNow.endDate.getMonth()+1}}/{{sprintNow.endDate.getFullYear()}})</h1>
    <br>
    <ul class="list-group">
      <user-stories-dashboard-item *ngFor="let us of userstories; let i = index" [userstorie]="us">
      </user-stories-dashboard-item>
      <div *ngIf="empty" class="alert alert-info" role="alert">User Stories not associated yet</div>
    </ul>
  </div>
</div>
