
<div class="row">
  <div class="col-xs-12">
    <!--h1>{{selectedRecipe?.name}}</h1-->
    <h1>PROJECT</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!--p>{{selectedRecipe?.description}}</p-->
    Id do project selecionado: {{projectIndex}} {{crl}}
  </div>
</div>

<!--É product owner-->
<div class="row" *ngIf="getType()==1">
  <div class="col-xs-12">
    <user-stories></user-stories>
  </div>
</div>

<!--Neste projecto é Scrum Master-->
<div class="row" *ngIf="getType()==2">
  <div class="col-xs-12">
    SOU SCRUM MASTER AQUI
  </div>
</div>

<!--Neste projecto é Developer-->
<div class="row" *ngIf="getType()==3">
  <div class="col-xs-12">
    Neste projecto Sou developer
  </div>
</div>