
<div class="row">
  <div class="col-xs-6 col-md-offset-2">
    <!--h1>{{selectedRecipe?.name}}</h1-->
    <h1>Answare</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--p>{{selectedRecipe?.description}}</p-->
    Question: {{question.project}} Id: {{questionId}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <label for="comment">Answare:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>