<div>
  <div class="row">
		<div class="col-md-12">
			<div class="panel panel-dashboard">
				<div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-2 crl">
              <b>Projects - Choosen</b>
            </div>
            <div class="col-md-2">
              <button type="button" [routerLink]="['projects/new']" class="btn btn-primary">Create Project</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2 crl">
              <app-project></app-project>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>