<div class="row">
  <div class="col-md-12">
    <div class="panel panel-dashboardDev">
      <div class="panel-body">

        <div class="row">
          
          <!--Lista sprints-->
          <div class="col-md-12">
            <div class="row">
              <!--div class="col-md-12"-->
              <div class="col-md-3">
                <h2>User Storie:</h2>
              </div>
              <div class="col-md-3">
                <h2>No state:</h2>
              </div>
              <div class="col-md-3">
                <h2>In progress:</h2>
              </div>
              <div class="col-md-3">
                <h2>Done:</h2>
              </div>
            </div>
            <user-stories-dashboard-list></user-stories-dashboard-list>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>