<div>
  <div class="row">
		<div class="col-md-12">
			<div class="panel panel-home">
				<div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 crl">
                <h3>Create Project</h3>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" (ngSubmit)="f.form.valid && createProject()" #f="ngForm" novalidate>
                  <div class="form-group nameProj" [ngClass]="{ 'has-error': f.submitted && !nameP.valid }">
                    <label class="control-label col-sm-2" for="nameP">Name:</label>
                    <div class="col-sm-9 col-sm-offset-1">
                      <input type="text" class="form-control" name="nameP" [(ngModel)]="model.nameP" id="idProject" tabindex="1" placeholder="Ex: Project GPS - Scrum Academy" #nameP="ngModel" required>
                      <div *ngIf="f.submitted && !nameP.valid" class="help-block">Name Project is required</div>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !desriptionP.valid }">
                    <label class="control-label col-sm-2" for="desriptionP">Description:</label>
                    <div class="col-sm-9 col-sm-offset-1">
                      <input type="text" class="form-control" name="desriptionP" [(ngModel)]="model.desriptionP" id="iddescription" tabindex="2" placeholder="Ex: A web application that ..." #desriptionP="ngModel" required>
                      <div *ngIf="f.submitted && !desriptionP.valid" class="help-block">Description is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="initialD">Initial Date:</label>
                    <div class="col-sm-10"> 
                      
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="endD">End Date:</label>
                    <div class="col-sm-10"> 
                      
                    </div>
                  </div>

                  <div class="form-group"> 
                    <div class="col-sm-offset-5 col-sm-7 col-xs-offset-4 col-xs-8">
                      <button [disabled]="loading" type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div *ngIf="projCreated">
              <user-stories ></user-stories>
            </div>
				</div>
			</div>
		</div>
  </div>
</div>
