<div id="itemTeam" class="col-md-12">
  <a class="list-group-item clearfix" routerLinkActive="active">
    <img src="../../../assets/img/team.jpg" alt="iconUS" ><br>
    <h4 class="list-group-item-heading">Team: {{request.teamDescription}}</h4>
    <span class="list-group-item-text">Project: {{request.nameProject}}</span>
    <button id="reject" class="btn btn-danger pull-right" (click)='decision(false)'>Reject</button>
    <button id="acept" class="btn btn-success pull-right" (click)='decision(true)'>Accept</button>
  </a>
</div>