  <div class="col-md-10">
<body>
    
  <div id="iddragula2" class='container' [dragula]='"first-bag"' [dragulaModel]='userStoriesAss'>
      <!--div>User Storie 1</div>
      <div>User Storie 2</div>
      <div>User Storie 1</div-->
      
      <div *ngFor='let us of userStoriesAss; let i = index' [attr.item-id]="us.id" >
          <span id="getid(us)" class='addU' (click)="scoreEdit(us,i)">+</span>{{apresentaUserStory(us)}}
      </div>
  </div>

  <div class='wrapper'>
      <div class='container'>
          <pre>{{userStoriesAss | json}}</pre><br>
      </div>
  </div>
</body>
  </div>
  <div class="col-md-2">
     <div *ngIf="scoreeditok">
            <div class="row">
            <input type="number" class="form-control" placeholder="score" id="idscore" name="score" [(ngModel)]="model.score" #score="ngModel">
            <button type="submit" (click)="saveScoreEdit()" class="btn btn-default btn-primary">Save</button>
          </div>
     </div>
  </div>