#iddragula2{
    touch-action: none;
}
.addU{
    padding: 0 5px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.addU:active{
    padding: 0 5px;
    margin-right: 10px;
    background-color: lightgreen;
    cursor: pointer;
}

#cgS{
    cursor: pointer;
}
#cgS:hover{
    color: darkgray;
}


img {
    height: 50px;
    width: 50px;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    float: left;
    padding-right: 2px;
}
#edit{
    border-top: 2px solid gray;
    padding-top: 5px;
    margin-top: 5px;
}
#upd{
    cursor: pointer;
    color: green;
}
#upd:hover{
    color: lightgreen;
}

