#tituloprojects{
    color: black;
}

#criarTP{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#newSome{
    cursor: pointer;
    color: green;
}
#newSome:hover{
    color:lightgreen;
}

img{
    margin: auto;
    padding-bottom: 0;
}
h2{
    text-align: center;
    /*border-bottom: 5px solid #A13462;*/
}
p{  
    /*border-top: 5px solid #A13462;
    padding-left: 50px;
    padding-right: 50px;*/
/*
    padding-left: 20%;
    padding-right: 20%;*/
    text-align: center;
    border-top: 5px solid #A13462;
    border-bottom: 5px solid #A13462;
     width   : 70%;
    border-radius: 7px;
}