<div class="row" *ngIf="isLogged()">
  <div class="col-md-12">
    <div class="panel panel-dashboard">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 col-md-offset-2 col-sm-9" id="tituloprojects">
            <h3>Projects - Chosen <p title="Create Team" data-toggle="popover" data-trigger="hover" [routerLink]="['/teams/new']" id="newSome" class="glyphicon glyphicon glyphicon-plus-sign" *ngIf="getType()==2"><p title="Create Project" data-toggle="popover" data-trigger="hover" [routerLink]="['projects/new']" id="newSome" class="glyphicon glyphicon glyphicon-plus-sign" *ngIf="getType()==1"></h3>
          </div>
          <!--div class="col-md-2 col-sm-3 col-xs-9">
            <button type="button" [routerLink]="['projects/new']" class="btn btn-primary pull-right" id="criarTP" *ngIf="getType()==1"><span class="glyphicon glyphicon-plus-sign"></span> Create Project</button>
          </div>
           <div class="col-md-2 col-sm-3 col-xs-9">
            <button type="button" [routerLink]="['/teams/new']" class="btn btn-primary pull-right" id="criarTP" *ngIf="getType()==2"><span class="glyphicon glyphicon-plus-sign"></span> Create Team</button>
          </div-->
     </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <project></project>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!isLogged()">
  <div class="col-md-12">
    <!--div class="panel panel-home">
      <div class="panel-body"-->
        <div class="row">
            <div class="container">

                <!--h2>Carousel Example</h2-->  
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <!--li data-target="#myCarousel" data-slide-to="2"></li-->
                  </ol>

                  <div class="panel panel-home">
                    <div class="panel-body">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img id="pj" src="../../assets/img/proj.png" alt="prj" style="width:15%;height:15%;">
                      <h2>The project</h2>
                      <p id="redline" class="col-md-6 col-md-offset-2">O projeto Scrum Academy surgiu na sequência de uma proposta da unidade curricular Gestão de Processos de Software do Curso
                        de Engenharia Informática, na Universidade do Minho. <br>
                        Foi proposta a realização de uma aplicação web capaz de 
                        auxiliar alunos e professores nos seus projetos em que é usada a metodologia ágil de software, nomeadamente o Scrum.<br>
                        Desta forma, o projeto Scrum Academy procura permitir aos docentes e alunos universitários uma plataforma capaz de 
                        suportar esta tecnologia de forma mais facilitada do que as presentes no mercado. A ideia é que seja uma aplicação aberta
                        e de fácil utilização, inserida num ambiente académico.
                      </p>
                    </div>

                    <div class="item">
                      <!--img src="../../assets/img/b2.jpg" alt="Chicago" style="width:100%;height:400px;"-->
                      <div class="row">
                        <div class="col-md-2 col-md-offset-2">
                          <div class="text-center">
                            <img id="pj" src="../../assets/img/vale.png" alt="prj" style="width:150px;height:150px;" class="img-circle">
                            <p>Pedro Vale</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="text-center">
                            <img src="../../assets/img/rafa.jpg" alt="prj" style="width:150px;height:150px;" class="img-circle"> 
                            <p>Rafael Oliveira</p> 
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="text-center">
                            <img  src="../../assets/img/rui.png" alt="prj" style="width:150px;height:150px;" class="img-circle"> 
                            <p>Rui Freitas</p>
                          </div>
                        </div>
                      </div>
                      <h2>Our Team</h2>
                      <p id="redline" class="col-md-6 col-md-offset-2">
                        A nossa equipa de desenvolvimento é constituída por estudantes do 4º ano do Mestrado Integrado
                      em Engenharia Informática. É uma equipa jovem e com enorme vontande em adquirir novos conhecimentos.
                      Este projeto é o primeiro realizado com as técnologias usadas e serviu de aprendizagem para trabalhos futuros.
                      </p>
                    </div>
                  </div></div>
                    <!--div class="item">
                      <img src="../../assets/img/b3.jpg" alt="New york" style="width:100%;height:400px;">
                    </div-->
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

          </div>
  </div>
</div>
