<div class="row">
  <div class="col-xs-6 col-md-offset-2">
    <h3>User Stories:</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <user-stories-item *ngFor="let us of userStories; let i = index" [userStorie]="us" (click)="onSelect(us)"></user-stories-item>
    </ul>
  </div>
</div>
<div class="row"> 
  <div class="col-md-12">
    <div *ngIf="userStorieSelected">
      <user-stories-detail [userStorie]="userStorieSelected" [userStorieId]="userStorieIdSelected"></user-stories-detail>
    </div>
  </div>
</div>