.addU{
    padding: 0 5px;
    margin: 0px 20px 10px 10px;
    background-color: green;
    cursor: pointer;
}

.addU:active{
    padding: 0 5px;
    margin-right: 10px;
    background-color: lightgreen;
    cursor: pointer;
}

.glyphicon-user-has{
    cursor: pointer;
    color: green;
    background-color: white;
}

#fundoTask{
    background-color: white;
}
#breakUS{
    margin-bottom: 40px;
}
.container{
   background-color: white; 
}

#submitTask{
    color: white;
}

.glyphicon-user-donthas{
    cursor: pointer;
    color: red;
    background-color: white;
}
/*.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}*/

#colorTasks{
    background-color: red;
}
/*
#removeUser{
    margin-left: 10px;
    background-color:#FF5A5A  ;
    padding: 1px 1px 1px 1px;
    color: black;
}*/
#addUser{
    background-color:green  ;
    padding: 1px 1px 1px 1px;
    color: black;
}
.newtaskaddUser{
    margin-left: 10px;   
}

/*#removeUser {
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
 }*/

#removeUser{
   position: absolute;
   top: 0;
   right: 0;
   padding: 1px 1px 1px 1px;
   color: red;
   border: none;
} 

#taskDescription{
    margin-top: 20px;
}
#forTask{
    position: relative;
}

.alert{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
}