.addU{
    padding: 0 5px;
    margin: 0px 20px 10px 10px;
    background-color: green;
    cursor: pointer;
}

.addU:active{
    padding: 0 5px;
    margin-right: 10px;
    background-color: lightgreen;
    cursor: pointer;
}

.glyphicon-user-has{
    cursor: pointer;
    color: green;
    background-color: white;
}

#fundoTask{
    background-color: white;
}
#breakUS{
    margin-bottom: 40px;
    
    background-color: #D3D3D3;
    border: 2px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}
.container{
   /*background-color: white; */
   border-left: 2px solid gray;
}

#submitTask{
    color: white;
}

.glyphicon-user-donthas{
    cursor: pointer;
    color: red;
    background-color: white;
}
#addUser{
    background-color:green  ;
    padding: 1px 1px 1px 1px;
    color: black;
}
.newtaskaddUser{
    margin-left: 10px;   
}

#removeUser{
   position: absolute;
   top: 0;
   right: 0;
   padding: 1px 1px 1px 1px;
   color: red;
   border: none;
} 

#taskDescription{
    margin-top: 20px;
}
#forTask{
    position: relative;
}

.alert{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: none;
}

#addT{
    cursor: pointer;
    color: green;
}
#addT:hover{
    color: lightgreen;
}

#updU{
    cursor: pointer;
    color: green;
}
#updU:hover{
    color: lightgreen;
}

#tsk {
    height: 60px;
    width: 60px;
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    float: left;
    padding-right: 2px;
}

#rmv {
    height: 50px;
    width: 30px;
    position: absolute;
    top: 0px;
    right: 15px;
    float: right;
    cursor: pointer;
    padding-top: 20px;
}
#crdE{
    margin-left: 10px;
}
#editT{
    border-top: 2px solid gray;
    padding-top: 5px;
    margin-top: 5px;
}
#newUser{
    /*width: 50%;*/
}
#addTask{
   border-top: 2px solid gray;
    padding-top: 5px;
    margin-top: 5px; 
}
#createT{
    margin-top: 5px;
}

