<!-- main app container >
<div class="examples">
  <div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<!--div class="col-xs-6">
								<a href="/app-login" id="login-form-link" >Login</a>
							</div>
							<div class="col-xs-6">
								<a href="/app-register" id="register-form-link">Register</a>
							</div>
              <div class="col-xs-12">
                  <ul class="nav nav-tabs nav-justified">
                    <li ><a [routerLinkActive]="['active']" [routerLink]="['app-login']" id="login-form-link">Login</a></li>
                    <li ><a [routerLinkActive]="['active']" [routerLink]="['app-register']" id="register-form-link">Register</a></li>
                  </ul>
              </div>
						</div>
					</div>
          <router-outlet></router-outlet>
				</div>
			</div>
    	</div>
  </div>
  <app-login></app-login>
</div-->

<!-- main app container -->
<div class="examples">
  <div class="container">
			<div class="col-md-12">
					<router-outlet></router-outlet>
			</div>
  </div>
</div>