
.container{
    border: 1px solid black;
}
.ctn-nav{
    padding-top: 100px;
}
.pd{
    padding-top: 50px;
}

.row{
    border: 1px solid red;
}
html, body{
  height:100%;
}
b{
  color: black;
  font-size: 150%;
}
.crl{
    border: 1px solid blue;
}

.nameProj{
    padding-top: 20px;
}