<div class="row">
  <div class="col-xs-6 col-sm-6  col-sm-offset-2">
    <h3>Edit</h3>
  </div>
</div>
<alert></alert>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-2">
    <div id="groupedit" class="form-group">
      <form class="form-horizontal" role="form" (ngSubmit)="f.form.valid && edit()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newdescroptionUS.valid }">       
          <label for="usr">New description:</label>
          <input type="text" class="form-control" name="newdescroptionUS" id="usr" [(ngModel)]="model.newdescroptionUS" #newdescroptionUS="ngModel">
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newpriorityUS.valid }">            
          <label for="usr">New priority:</label>
          <input type="number" min="1" max="10" class="form-control" name="newpriorityUS" id="usr" [(ngModel)]="model.newpriorityUS" #newpriorityUS="ngModel">  
        </div>

        <button type="submit" id="buttonUserStory"class="btn btn-primary">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Submit
        </button>

      </form>
    </div>
  </div>
</div>