<div class="row">
  <div class="col-xs-6 col-sm-6  col-sm-offset-2">
    <h3>Edit</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-2">
    <div class="form-group">
      <label for="usr">New description:</label>
      <input type="text" class="form-control" id="usr">

      <label for="usr">New priority:</label>
      <input type="number" class="form-control" id="usr">

      <button type="submit" id="buttonUserStory" class="btn btn-default">Submit</button>
    </div>
  </div>
</div>